.menu {
  &__item {
    list-style: none;
  }
  &__link {
    color: var(--light-grey);
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    transition: color 0.2s linear;
    &:hover {
      color: var(--light-blue);
    }
  }
  &__icon {
    margin-right: 21px;
    font-size: 20px;
  }
}
