:root {
  --font-family: "Tomorrow", sans-serif;
  --dark-blue: #4f46ba;
  --light-blue: #4e36fc;
  --lightest-blue: #f3f5fa;

  --violet: #5d4e7b;

  --white: #fff;

  --grey: #777e8a;
  --grey-mid: #838690;
  --light-grey: #8a8b9f;

  --brown: #6b6570;
  --brown-light: #8a8a8c;

  --green: #3ecd7b;

  --black-primary: #0d1118;
  --black-bold: #151630;

  --red: #f32323;
}
